.color-by-name {
  background-color: coral;
  color: rebeccapurple;
  border: thick solid greenyellow;
}

/* Sistema Hexadecimal
0123456789ABCDEF

RGB->RedGreenBlue(Medios Digitales) vs CMYK->CyanMagentaYellowKey(Medios Impresos)

Colores en HEX va a ser colores de 6 digitos: 
#FF6600*/

.color-hex {
  background-color: #ff6600;
  /* En hexadecimal si tenemos a pares seguidos podemos simplificar a 3 numeros hexadecimales y de esta manera, se simplifica,(solo se puede cuando son las 3 parejas) */
  background-color: #f60;
  /* Si le sumamos 2 digitos a los hexadecimales estos hacen referencia a la opacidad a mayor numero mas opaco de 00 a 99 */
  background-color: #00000099;
  /* puedes simplificar pero la opacidad no es tan exacta y solo dejaria de 10 en 10 */
  background-color: #0005;
  color: #12ac78;

  border: thick solid #ffffff;
  border: thick solid #fff;
  border: thick solid #ff0000;
  border: thick solid #f00;
  border: thick solid #00ff00;
  border: thick solid #0f0;
  border: thick solid #0000ff;
  border: thick solid #00f;
  border: thick solid #000000;
  border: thick solid #000;
  /* Opacidad en RGB */
}

/* Sistema RGB 
Bit (0/1) 2 elevado a la potencia 8 porque son 8 bits =2*2*2*2*2*2*2*2=256 de 0 a 255
Por cada canal de color valores que van del 0 al 255*/

.color-rgb {
  background-color: rgb(255, 255, 255);
  background-color: rgb(255, 0, 0);
  background-color: rgb(0, 255, 0);
  background-color: rgb(0, 0, 255);
  background-color: rgb(0, 0, 0);
  /* para la opacidad ponemos la funcion rgba que añade el canal alfa que va de 0 a 1 admite 2 decimales*/
  background-color: rgba(0, 0, 0, 0.33);

  color: rgb(255, 102, 0);
  border: thick solid rgb(125, 109, 7);
}

/* Sistema HSL-> HueSaturationLightness(Tono-Saturación-Luminosidad)

El primer es Hue(Circulo Cromático)
0º-> red
60º-> yellow
120º-> green
180º-> cyan
240º-> blue
300º-> magenta
*/
/* El segundo valor es Saturation(Intensidad del color)
0%-> Escala de grises
100%-> Color Puro
siempre hay que poner el valor del porcentaje en el seguno valor

El tercer valor es Lightness(Luminosidad del Color)
0%-> Color negro
100%->Color blanco*/
.color-hsl {
  background-color: hsl(0, 100%, 5%);
  background-color: hsl(120, 100%, 50%);
  background-color: hsl(240, 100%, 50%);
  background-color: hsl(30, 100%, 50%);
  background-color: hsla(30, 100%, 50%, 1);
  color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 0%);
  border: thick solid hsl(210, 75%, 65%);
}
/* 
Valor transparent: color transparente es igual a aplicar rgba(0,0,0,0)
valor currentColor: Hereda el valor por defecto o asignado de la propiedad color,luego buscara del ancestro que tenga definida esta propiedad, busca del ancestro mas cercano al mas lejano
*/
.color-transparent-current {
  background-color: darkmagenta;
  background-color: transparent;
  background-color: currentColor;
  background-color: transparent;
  color: olive;
  border: thick solid currentColor;
}
.opacity {
  background-color: orchid;
  color: navy;
  border: thick solid black;
  /* La opacidad trabaja en todos los estilos del elmento HTML al que hacen referncia */
  opacity: 0.5;
  opacity: 1;
  opacity: 0;
  opacity: 75;
}
.opacity-0 {
  opacity: 0.1;
}
.opacity-20 {
  opacity: 0.2;
}
.opacity-30 {
  opacity: 0.3;
}
